@media screen and (min-width:1500px){
html{
	overflow-x:hidden;
}	
body{
	background-image: url("pngtree-ancient-abstract-gear-steampunk-image_729875.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	margin:0;
	padding:0;
	height:1000px;
	font-size:1.5em;
}
									/* HEADER */
	/* H1 */
h1{
	display:flex;
	flex-direction:row;
	font-size: 3em;
	height:100px;
	justify-content:center;
}

	/* NAV */
nav{
	width:100%;
	list-style:none;
	height: 150px;
	font-family: 'Playfair Display', serif;
}
a {
	text-decoration: none;
	color: black;
}
li{
	float:left;
	width:24%;
	font-size: 2em;
	font-weight:bold;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-around;
}

/* ___________________________________________________________________________________________________________________ */
									
									/* COLONNES */
#colonnes{
	display:flex;
	flex-direction:columns;
	align-items:space-around;
}
				/* ______________________________________________________________________________________ */
									/* COLONNE DE GAUCHE */
#colonnegauche{	
	padding-left:3%;
	width:95%;
}
.titresmodules{
	margin-left:30%;
}

/* H2 */
h2{
	font-size: 2em;
	font-weight:bold;
	font-family: 'Playfair Display', serif;
}
.dates{
	font-weight:bold;
	text-decoration: underline;
	font-family: 'Fragment Mono', monospace;
}

/* TEXTE ARTICLES */
.txt{
	margin-bottom:50px;
	display:block;
	line-height:1.6em;
}

/* ICONES */
.icons{
	width:50px;
	height:50px;
}

/* ROUAGES */
#steam{
	display:flex;
	align-items:center;
	width:30px;
	padding:10px;
}

.brainicon{
	width:30px;
	height:30px;
}

/* SCOLARITE */
#scolarite {
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}

/* EXPE PROS */
#expepro{
	margin-top:5%;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}


/* COMPETENCES */
#competences{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
.potitstitrescompetences{
	font-size:1.6em;
	text-decoration: underline;
	margin-left:10%;
}
	
	
/* LOISIRS */
#hobbies{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}
#titrehobbies{
	display:flex;
	justify-content:center;
}
			/* ____________________________________________________________________________________________________ */
									/* COLONNE DE DROITE */
					
#colonnedroite{
	padding-top:2%;
	padding-left:10%;
}

#tableau{
	margin-top:15%;
}
.gridlogos{
	width:100px;
	height:100px;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
/* ____________________________________________________________________________________________________________________									 */
							
										/* ANIMATIONS */
							
							
/* ANIMATION EN TETE */
h1{
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: 10s;
}
@keyframes glissement {
  from {
    margin-left:100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


/* ANIMATION SURVOL NAV */

li:hover {
	cursor:pointer;
	transform:scale(1.35);
	width:23%;
}						
#scolarite:hover , #expepro:hover ,#competences:hover, #hobbies:hover{
  cursor:pointer;
  transform:scale(1.08);

}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}


/* OMBRAGES MODULES */

#scolarite {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#hobbies{
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#competences{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}	
#expepro{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* STEAM ROTATIONS */

#rotationsteam:hover{
		-webkit-animation: rotate-center 2s ease-in-out backwards;
	        animation: rotate-center 2s ease-in-out backwards;	
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

}




/* __________________________________________________________________________________________________________________________ */


									/* MEDIAQUERIES */
										/* NUMERO1 */
									
									
@media screen and (min-width:960px) and (max-width:1499px){
	html{
	overflow-x:hidden;
}	
body{
	background-image: url("pngtree-ancient-abstract-gear-steampunk-image_729875.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	margin:0;
	padding:0;
	height:100%;
	font-size:1.5em;
}
									/* HEADER */
	/* H1 */
h1{
	display:flex;
	flex-direction:row;
	font-size: 2.5em;
	height:20%;
	justify-content:center;
}

	/* NAV */
nav{
	width:100%;
	list-style:none;
	height: 25%;
	font-family: 'Playfair Display', serif;
	
}
a {
	text-decoration: none;
	color: black;
}
li{
	float:left;
	width:25%;
	font-size: 1.2em;
	font-weight:bold;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-evenly;
}

/* ___________________________________________________________________________________________________________________ */
									
									/* COLONNES */
#colonnes{
	display:flex;
	flex-direction:columns;
	width:100%;
	justify-content:space-evenly;
}
				/* ______________________________________________________________________________________ */
									/* COLONNE DE GAUCHE */
#colonnegauche{	
	padding:5%;
	width:100%;
}
.titresmodules{
	margin-left:20%;
}

/* H2 */
h2{
	font-size: 2em;
	font-weight:bold;
	font-family: 'Playfair Display', serif;
}
.dates{
	font-weight:bold;
	text-decoration: underline;
	font-family: 'Fragment Mono', monospace;
}

/* TEXTE ARTICLES */
.txt{
	margin-bottom:10%;
	display:flex;
	flex-wrap:wrap;
	line-height:1.2em;
}

/* ICONES */
.icons{
	width:50px;
	height:50px;
}

/* ROUAGES */
#steam{
	display:flex;
	align-items:center;
	width:30px;
	padding:10px;
}

.brainicon{
	width:30px;
	height:30px;
}

/* SCOLARITE */
#scolarite {
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
	
}

/* EXPE PROS */
#expepro{
	margin-top:5%;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}


/* COMPETENCES */
#competences{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
.potitstitrescompetences{
	font-size:1.6em;
	text-decoration: underline;
	margin-left:10%;
}
	
	
/* LOISIRS */
#hobbies{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}

			/* ____________________________________________________________________________________________________ */
									/* COLONNE DE DROITE */
					
#colonnedroite{
	
	width:95%;
}

#tableau{
	margin-top:15%;
	
}
.gridlogos{
	width:50px;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
/* ____________________________________________________________________________________________________________________									 */
							
										/* ANIMATIONS */
							
							
/* ANIMATION EN TETE */
h1{
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: 10s;
}
@keyframes glissement {
  from {
    margin-left:100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


/* ANIMATION SURVOL NAV */

li:hover {
	cursor:pointer;
	transform:scale(1.15);
	
}	

/* UPSCALE MODULES */					
#scolarite:hover , #expepro:hover ,#competences:hover, #hobbies:hover{
  cursor:pointer;
  transform:scale(1.08);

}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}


/* OMBRAGES MODULE */

#scolarite {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#hobbies{
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#competences{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}	
#expepro{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* STEAM ROTATIONS */

#rotationsteam:hover{
		-webkit-animation: rotate-center 2s ease-in-out backwards;
	        animation: rotate-center 2s ease-in-out backwards;	
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
}


									/* MEDIAQUERIE NUMERO 2 */
									
@media screen and (min-width:768px) and (max-width:959px){
	html{
	overflow-x:hidden;
}	
body{
	background-image: url("pngtree-ancient-abstract-gear-steampunk-image_729875.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	margin:0;
	padding:0;
	height:100%;
	font-size:1.5em;
}
									/* HEADER */
	/* H1 */
h1{
	display:flex;
	flex-direction:row;
	font-size: 1.5em;
	height:20%;
	justify-content:center;
}

	/* NAV */
nav{
	width:100%;
	list-style:none;
	font-family: 'Playfair Display', serif;
	padding:3%;
}
a {
	text-decoration: none;
	color: black;
}
li{
	float:left;	
	height: 35%;
	font-weight:bold;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	width:24%;
	font-size: 1em;
}

/* ___________________________________________________________________________________________________________________ */
									
									/* COLONNES */
#colonnes{
	display:block;
	width:100%;
}
				/* ______________________________________________________________________________________ */
									/* COLONNE DE GAUCHE */
#colonnegauche{	
	float:left;
	padding:3%;
	width:70%;
}
.titresmodules{
	margin-left:10%;
}

/* H2 */
h2{
	font-size: 1.1em;
	font-weight:bold;
	font-family: 'Playfair Display', serif;
}
.dates{
	font-weight:bold;
	text-decoration: underline;
	font-family: 'Fragment Mono', monospace;
}

/* TEXTE ARTICLES */
.txt{
	margin-bottom:10%;
	display:flex;
	flex-wrap:wrap;
	line-height:1em;
}

/* ICONES */
.icons{
	width:40px;
	height:40px;
}

/* ROUAGES */
#steam{
	display:flex;
	align-items:center;
	width:30px;
	padding:10px;
}

.brainicon{
	margin-bottom:-8px;
	width:30px;
	height:30px;
}

/* SCOLARITE */
#scolarite {
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
	
}

/* EXPE PROS */
#expepro{
	margin-top:5%;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}


/* COMPETENCES */
#competences{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
.potitstitrescompetences{
	font-size:1.2em;
	text-decoration: underline;
	margin-left:5%;
}
	
	
/* LOISIRS */
#hobbies{
	margin-top:3%;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}

			/* ____________________________________________________________________________________________________ */
									/* COLONNE DE DROITE */
					

#tableau{
	margin-top:20%;
	width:20%;
	float:left;
	
}
.gridlogos{
	width:60px;
	height:60px;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
/* ____________________________________________________________________________________________________________________									 */
							
										/* ANIMATIONS */
							
							
/* ANIMATION EN TETE */
h1{
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: 10s;
}
@keyframes glissement {
  from {
    margin-left:100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


/* ANIMATION SURVOL NAV */

li:hover {
	cursor:pointer;
	transform:scale(1.3);
}	

/* UPSCALE MODULES */					
#scolarite:hover , #expepro:hover ,#competences:hover, #hobbies:hover{
  cursor:pointer;
  transform:scale(1.08);

}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}


/* OMBRAGES MODULE */

#scolarite {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#hobbies{
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#competences{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}	
#expepro{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* STEAM ROTATIONS */

#rotationsteam:hover{
		-webkit-animation: rotate-center 2s ease-in-out backwards;
	        animation: rotate-center 2s ease-in-out backwards;	
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
}



						/* }MEDIAQUERY NUMERO3 */
@media screen and (min-width:300px) and (max-width:767px){	
body{
	background-image: url("pngtree-ancient-abstract-gear-steampunk-image_729875.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	margin:0;
	padding:0;
	height:100%;
	font-size:1em;
}
									/* HEADER */
	/* H1 */
h1{
	display:flex;
	font-size: 1.5em;
	height:20%;
	justify-content:center;
}

	/* NAV */
nav{
	width:100%;
	list-style:none;
	font-family: 'Playfair Display', serif;
	margin-left:40px;
}
a {
	text-decoration: none;
	color: black;
}
li{
	float:left;	
	height: 35%;
	font-weight:bold;
	display:flex;
	flex-wrap:wrap;
	width:25%;
	font-size: 1em;
	padding:5%;
	margin-left:10%;
}

/* ___________________________________________________________________________________________________________________ */
									
									/* COLONNES */
#colonnes{
	display:block;
	width:100%;
	margin-left:50px;
}
				/* ______________________________________________________________________________________ */
									/* COLONNE DE GAUCHE */
#colonnegauche{	
	float:left;
	padding:3%;
	width:70%;
}
.titresmodules{
	margin-left:10%;
}

/* H2 */
h2{
	font-size: 1.1em;
	font-weight:bold;
	font-family: 'Playfair Display', serif;
}
.dates{
	font-weight:bold;
	text-decoration: underline;
	font-family: 'Fragment Mono', monospace;
	font-size: 1em;
}

/* TEXTE ARTICLES */
.txt{
	margin-bottom:30%;
	display:flex;
	flex-wrap:wrap;
	line-height:1em;
}

/* ICONES */
.icons{
	width:20px;
	height:20px;
}

/* ROUAGES */
#steam{
	display:flex;
	align-items:center;
	width:30px;
	padding:10px;
}

.brainicon{
	margin-bottom:-8px;
	width:30px;
	height:30px;
}

/* SCOLARITE */
#scolarite {
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
	
}

/* EXPE PROS */
#expepro{
	margin-top:5%;
	margin-bottom:30px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}


/* COMPETENCES */
#competences{
	margin-top:20px;
	margin-bottom:50px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
.potitstitrescompetences{
	font-size:1.2em;
	text-decoration: underline;
	margin-left:5%;
}
	
	
/* LOISIRS */
#hobbies{
	margin-top:3%;
	margin-bottom:2px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}

			/* ____________________________________________________________________________________________________ */
									/* COLONNE DE DROITE */
					

#tableau{
	margin-top:20%;
	width:20%;
	float:left;
	
}
.gridlogos{
	width:60px;
	height:60px;
	margin-top:20px;
	margin-bottom:20px;
	border:2px solid black;
	border-radius:20%;
	padding:5%;
	background-color:#cfb68d;
}	
/* ____________________________________________________________________________________________________________________									 */
							
										/* ANIMATIONS */
							
							
/* ANIMATION EN TETE */
h1{
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count: 10s;
}
@keyframes glissement {
  from {
    margin-left:100%;
    width: 100%;
  }
  to {
    margin-left: 50%;
    width: 100%;
  }
}


/* ANIMATION SURVOL NAV */

li:hover {
	cursor:pointer;
	transform:scale(1.1);
}	

/* UPSCALE MODULES */					
#scolarite:hover , #expepro:hover ,#competences:hover, #hobbies:hover{
  cursor:pointer;
  transform:scale(1.03);

}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}


/* OMBRAGES MODULE */

#scolarite {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#hobbies{
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#competences{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}	
#expepro{
	 -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* STEAM ROTATIONS */

#rotationsteam:hover{
		-webkit-animation: rotate-center 2s ease-in-out backwards;
	        animation: rotate-center 2s ease-in-out backwards;	
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
}
	
